.container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}
.box{
    background-color:red;
    border: 3px black solid;
    height: 30rem;
    width: 30rem;
    margin-right: 2rem;
}
.about h2 {
    text-align: left;
    font-size: xx-large;
}
.about p {
    font-size: larger;
    max-width: 60rem;
}
@media(max-width: 567px) {
    .grid{
        grid-template: auto auto / repeat(1, 1fr);
    }
    .box{
        width: 80%;
    }
    .about p {
        width: 90%;
    }
}
