.grid{
    display: grid;
    justify-items: center; 
    grid-template: repeat(2, 1fr);
    margin: 25px;
}
.box{
    background-color:red;
    height: 35vh;
    width: 225px;
}
@media(max-width: 567px) {
    .grid{
        grid-template: auto auto / repeat(1, 1fr);
    }
    .box{
        width: 80%;
    }
}
