.container {
    padding: .5rem;
    border-top: 1.5px solid black;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: .9rem;

    margin-top: auto;
}
.links{
    text-decoration: none;
    color: black;
}
@media(max-width: 567px){
    .container {
        font-size: .6rem;
    }
}