.container {
    padding: .5rem;
    border-top: 1.5px solid black;
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: .9rem;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.links{
    text-decoration: none;
    color: black;
}
@media(max-width: 567px){
    .container {
        font-size: .5rem;
    }
}