.container {
    padding: .5rem;
    border-top: 1.5px solid var(--text-color);
    color: var(--text-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: .9rem;

    margin-top: auto;
}
.links{
    text-decoration: none;
    color: var(--text-color);
    margin-left: 25px;
}
.instagram svg{
    color: var(--text-color);
    height: 45px;
    width: 45px;
}

@media(max-width: 567px){
    .container {
        font-size: .6rem;
    }
}