:root {
    --text-color: #000000;
    --background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    /* Styles for dark mode */
    :root {
        --text-color: #eeeeee;
        --background-color: #222222;
    }
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
}

.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
