* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    background-color: rgba(255, 243, 224, 0.767);
}

.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* another another test */
