.container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.grid{
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    margin: 25px;
    padding-bottom: 60px;
}
.box{
    position: relative;
    padding-top: 100%;
    background-color:red;
    width: 20vw;
    height: 20vh;
}
@media(max-width: 567px) {
    .grid{
        grid-template: auto auto / repeat(1, 1fr);
    }
    .box {
        width: 55vw;
    }
}